<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Current Students</title>

    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="stylesheets/3-col-portfolio.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Home</a>
            <a class="navbar-brand" href="/activeStudents">Current Students</a>
            <a class="navbar-brand" href="#">Alumni</a>
            <a class="navbar-brand" href="/map">Map</a>
        </div>
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">

    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Page Heading
                <small>Secondary Text</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <div id="profiles">
    </div>

    <!-- /.row -->

    <hr>

    <!-- Pagination -->
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="#">&laquo;</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="javascripts/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="javascripts/bootstrap.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $.ajax({
            url: '/students/currentStudents',
            type: 'GET',
            async: true,
            crossDomain: true,
            dataType: "json",
            cache: false,
            success: function(res) {
                console.log(res);
                var profile;
                var count = 0;
                var increment = 0;

                for(profile in res){
                    console.log(increment);

                    if(count == 0) {

                        $("#profiles").append('<div class="row" id="'+increment+'sec">'+
                                '<div class="col-md-4 portfolio-item">' +
                                '<a href="#">' +
                                '<img class="img-responsive" src="http://placehold.it/700x400" alt="">' +
                                '</a>' +
                                '<h3>' +
                                '<a href="#">' + res[profile].name + '</a>' +
                                '</h3>' +
                                '<p>' + res[profile].summary + '</p>' +
                                '</div>'+
                                '</div>');
                    }
                    else{
                        $("#"+increment+"sec").append(
                                '<div class="col-md-4 portfolio-item">' +
                                '<a href="#">' +
                                '<img class="img-responsive" src="http://placehold.it/700x400" alt="">' +
                                '</a>' +
                                '<h3>' +
                                '<a href="#">' + res[profile].name + '</a>' +
                                '</h3>' +
                                '<p>' + res[profile].summary + '</p>' +
                                '</div>');

                    }
                    count++;
                    if(count == 3){
                        increment++;
                        count = 0;
                    }
                }


            }
        });
    });

</script>

</body>

</html>
