<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>CSIN3</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

    <style type="text/css">
        html, body, #map-canvas {
            height: 90%;
            margin: 0;
            padding: 0;
        }
    </style>

    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <script src="javascripts/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=">

    </script>

    <script type="text/javascript">
        var map;
        function initialize() {
            $.get('/events', function (data) {
                console.log(data);
                var info = data["events"];
                console.log(info);

                $.each(info, function(){
                    var contentString = '<h4>' + this.name + '</h4><hr>' +
                            '<p>' + this.summary + '</p>';
                    var pos;
                    pos = new google.maps.LatLng(this.lat,
                            this.long);

                    var marker = new google.maps.Marker({
                        map: map,
                        position: pos
                    });
                    google.maps.event.addListener(marker, 'click', function () {
                        var infowindow = new google.maps.InfoWindow({
                            content: contentString
                        });
                        infowindow.open(map, marker);
                    });
                });
            });

            //var myLatLng = new google.maps.LatLng(36.6534, -121.7964);
            var mapOptions = {
                center: {lat: 36.6778, lng: -121.6556},
                zoom: 6
            };
            map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>


    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Home</a>
            <a class="navbar-brand" href="/currentStudents">Current Students</a>
            <a class="navbar-brand" href="/alumni">Alumni</a>
            <a class="navbar-brand" href="/map">Map</a>
        </div>

    </div>
</nav>
<div id="container">
    <h2>Places we have been</h2>
</div>
<div id="map-canvas"></div>
</body>
</html>
