<html lang="en">
<head>
  <meta charset="utf-8">

  <title>CSITIN3</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <!--<style type="text/css">-->
      <!--html, body, #map-canvas { height: 90%; margin: 0; padding: 0;}-->
  <!--</style>-->

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="../stylesheets/images.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../stylesheets/aroundWeb.css">
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script>
    $(document).ready(function() {
        var id = window.location.href.split('/')[4];
        console.log(id);
        $.get('/students/' + id, function(data) {
            if(data) {
                var students = data[0];
                //console.log(students);
                $("#summary").html(students.detailSummary);

                $("#information").append('<li>'+
                             '<a href="' + students.linkedin + '" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>'+
                             '</li>'+
                             '<li>'+
                             '<a href="' + students.github + '" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>'+
                             '</li>'+
                             '<li>'+
                             '<a href="' + students.email + '" class="btn-social btn-outline"><i class="fa fa-fw fa-envelope"></i></a>'+
                             '</li>');

                $("#name").html('<h1 class="nameHeader">' + students.name + '</h1>');
                $("#picture").html('<img id = "imageSize" class="img-rounded" src="' + students.imageUrl + '"</img>');
            }
        });
    });
  </script>

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Home</a>
        <a class="navbar-brand" href="/currentStudents">Current Students</a>
        <a class="navbar-brand" href="#">Alumni</a>
        <a class="navbar-brand" href="/map">Map</a>
      </div>

    </div>
  </nav>
  <div id="container">
      <div class="row">
          <div id="name" class="col-md-4 col-md-offset-2">
          </div>
      </div>
      <div class="row">
        <div id="picture" class="col-md-4 col-md-offset-2">
        </div>
        <div class="col-md-4">
            <span id="summary"></span>
            <!--<h2>Around the web</h2>-->
            <div style="text-align: center;"><ul id="information" class="list-inline"></ul></div>
        </div>
      </div>
  </div>
</body>
</html>
